body
{
	padding:0px;
	margin:0px;
	color:white;
	background-image:url(images/index_bg.jpg);
	background-repeat:no-repeat;
	background-position: center top;
	background-color: #0063a0;
}
#loginframe
{
	border:1px solid red;
	margin:150px auto;
	height:260px;
	width:450px;
	background-image:url(images/login_box.png);
	
}
#logintable
{
    	border-collapse:collapse;
	height:175px;
	width:355px;
	margin:75px 80px;
}
#logintable td
{
	/*border:1px solid red;*/
	height:39px;
}
td.login_info
{
	font-weight:bold;
	text-align:right;
	width:90px;
	padding-right:10px;
}
td.warning
{
	width:180px;
}
span.warning_text
{
	font-size:12px;
	font-weight:bold;
	text-align:left;
	color:red;
}
td.verification_pic
{
	padding-left:5px;
	width:90px;
}
input.input_type1
{
	width:150px;
	float:left;
	height:25px;
}
input.input_type2
{
	width:70px;
	float:left;
	height:25px;
}